* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.container-header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.header-bar-top {
    display: flex;
    justify-content: space-between;
}

.header-bar-bottom {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.action-tray {
    display: flex;
    gap: 20px;
}

button {
    background-color: hsl(257 38.4% 49.5%);
    border: none;
    height: 3.5em;
    width: 10em;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.container-search {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    width: fit-content;
}

.alert-tray {
    display: flex;
    align-items: center;
    gap: 25px;
}

.alert-tray>.profile-pic {
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.container-search>img, .alert-tray>img{
    height: 1.7em;
    width: 1.7em;
}

.header-greeting {
    width: fit-content;
    display: flex;
    gap: 10px;
}

.hello {
    align-self: center;
}

.header-greeting>img {
    height: 6em;
    width: 6em;
    border-radius: 50%;
}

input[type="search"] {
    background-color: #E0D6FA;
    border: none;
    border-radius: 15px;
    width: 40vw;
    height: 2.5em;
}

.sidebar {
    background-color: hsl(257 38.4% 49.5%);
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-left: 2em;
    padding-top: 2em;
}

h1#sidebar {
    color: white;
    display: inline-block;
}

.sidebar-header{
    display: flex;
    align-items: center;
    gap: 1em;
}

ul.nav>li>img {
    margin-right: 1em;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    margin-left: .6em;
}

img#logo {
    height: 3.1em;
    width: 3.1em;
}

ul>li {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

li>img {
    height: 1.1em;
    width: 1.1em;
}

.container-header {
    background-color: #FAF7FF;
    grid-area: 1 / 2 / 2 / 3;
}

.container-body {
    background-color: #F3EEFF;
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
}

.body-header {
    font-size: 1.3em;
    font-weight: bold;
    padding-bottom: 10px;
}

.card-containers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
}

.card-actions>img {
    height: 1.7em;
    width: 1.7em;
}

.card {
    background-color: white;
    height: 230px;
    width: 400px;
    border-radius: 5px;
    border-left: 8px solid #FFF8B2;
    display: grid;
    padding: 20px;
}

.card-title {
    font-size: 1.2em;
    font-weight: bold;
    align-self: last baseline;
}

.card-info {
    color: gray;
}

.card-actions {
    align-self: last baseline;
    justify-self: last baseline;
    display: flex;
    gap: 20px;
}

.card-containers {
    display: grid;

}

.announcements {
    background-color: white;
    height: 25em;
    width: 80%;
    border-radius: 15px; 
}

img.white-logo {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}