* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    width: 100vw;
    height: 100vh;
}

.container-header {
    display: grid;
    grid-template-rows: 1fr 2fr;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.header-bar-1 {
    display: flex;
    justify-content: space-between;
}

.container-search {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 10px;
    width: fit-content;
}

.alert-tray {
    display: flex;
    align-items: center;
    gap: 25px;
}

.alert-tray>.profile-pic {
    height: 4em;
    width: 4em;
    border-radius: 50%;
}

.container-search>img, .alert-tray>img{
    height: 1.7em;
    width: 1.7em;
}

input[type="search"] {
    background-color: hsl(206 9% 87%);
    border: none;
    border-radius: 15px;
    width: 40vw;
    height: 2.5em;
}

.container-dashboard {
    background-color: hsl(257 38.4% 49.5%);
    grid-area: 1 / 1 / 3 / 2;
    display: flex;
    flex-direction: column;
    gap: 5vh;
    padding-left: 2em;
    padding-top: 2em;
}

h1#dashboard {
    color: white;
    display: inline-block;
}

.dashboard-logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

ul.nav>li>img {
    margin-right: 1em;
}

div>.nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
    list-style: none;
    margin-left: .6em;
}

img#logo {
    height: 3.1em;
    width: 3.1em;
}

ul>li {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

li>img {
    height: 1.1em;
    width: 1.1em;
}

.container-header {
    background-color: hsl(206 9% 97%);
    grid-area: 1 / 2 / 2 / 3;
}

.container-body {
    background-color: hsl(206 9% 87%);
    grid-area: 2 / 2 / 3 / 3;
}

img.white-logo {
  -webkit-filter: invert(100%); /* safari 6.0 - 9.0 */
          filter: invert(100%);
}